API_DATABASE_URL=postgres://msp:msp@postgres:5432/msp?sslmode=disable
API_RABBITMQ_URL=amqp://msp:msp@rabbitmq:5672/
API_HTTP_PORT=8080
API_PUBLIC_URL=http://localhost:8080
RUN_MIGRATIONS=1
MIGRATIONS_DIR=/app/migrations
